
/* Ajustaments generals */
* {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #F0F8F9;
}
header {
    background: #94BF97;
    width: 100%;
    position: fixed;
    z-index: 100;
    font-family: Arial, Helvetica, sans-serif;
}

.item {
    float: left;
}

#item_1 {
    float: left;
}

#item_2 {
    float: right;
}

/* Header*/
nav ul {
    list-style: none;
    overflow: hidden;
}

nav ul li {
    float: left;
    font-size: 20px;
}

nav ul li a {
    display: block;
    padding: 20px;
    color: #F5ECD0;
    text-decoration: none;
}

nav ul li:hover {
    background: #B7CEEB;
    border-radius: 5px;
    transition: all 0.75s;
}


/* Logo i informació de la pàgina */
.logo {
    float: left;
    padding: 15px 0 0 20px;
    text-decoration: none;
    height: 85px;
}

.logo-header {
    float: left;
    padding: 15px 0 0 20px;
    text-decoration: none;
}

.site-name {
    font-weight: 700;
    font-size: 1.2em;
    color: #F5ECD0;
}

.site-desc {
    display: block;
    font-weight: 300;
    font-size: 0.8em;
    color: #F5ECD0;
}

/* INDEX */

.description {
    text-align: center;
    padding: 100px;
}

.description h1 {
    color: #E578B4;
}

.description p {
    font-size: 20px;
    text-align: center;
}

/* CAIXETES */
.content {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 80px;
}

.content .course-container {
    text-align: center;
    justify-content: center;
    margin-bottom: auto;
    align-self: center;
    display: inline-block;
    padding: 0px;
    margin: 20px;
    padding-top: 70px;
    background: #94BF97;
    border-radius: 15px;
    border-color: transparent;
    box-shadow: #000000 10px 12px 15px;
    height: 150px;
    width: 150px;
    transition: all 0.5s;
}

.course-container:hover {
    background-color: #639b4f;
    transform: scale(1.1);
}

.page-name {
    text-align: center;
    color: #F5ECD0;
    font-size: 25px;
}

/* TARJETES */

.page_title {
    padding: 100px 0 30px 0;
    font-size: 25px;
    display: flex;
    justify-content: center;
    color: #E578B4;
}

.cards {
    display: flex;
}

.cards__activitats {
    padding: 20px 20px 120px 20px;
    display: flex;
    margin: auto;
}

.cards_up {
    width: 1200px;
    padding: 0 20px 0 20px;
}

.cards_down {
    width: 1200px;
    padding: 0px 20px 120px 20px;
}

.card {
    flex: 50%;
    margin: 10px 10px 10px 10px;
    border: 3px solid black;
    border-radius: 15px;
    flex-direction: column;
    max-width: 1200px;
    transition: 300ms;
    overflow: hidden;
    text-align: center;
    background-color: #F5ECD0;
}

.card:hover {
    color: #fff;
    box-shadow: 15px 15px 15px #96bf98;
    transition: all 1s;
}

.card__content {
    flex-grow: 1;
    flex-shrink: 1;
    justify-content: center;
    align-items: center;
}

.card__content img {
    width: 100%;
    height: 100%;
    width: 600px;
    height: 452px;
    overflow: visible;
    display: block;
    border-radius: 10px 10px 0 0;
}

.card__content .card__title {
    justify-content: center;
    color: #f5ecd0;
    background-color: #94BF97;
    border-radius: 0 0 10px 10px;
    padding: 10px;
    display: block;
    text-align: center;
    text-decoration: none;
    width: 100%;
    height: 100%;
    transition: all 1s;
}

.card__title:hover {
    background-color: #639b4f;
    color: #dcc98e;
}

/* CONTACTE */

.contact_content {
    display: flex;
    align-items: center;
    padding: 30px 20px 120px 20px;
}

.contact {
    justify-content: center;
    margin-left: 90px;
    align-items: center;
    align-content: center;
    display: inline-block;
    display: block;
    width: 1200px;
    height: 300px;
    list-style-position: inside;
    font-size: 25px;
}

.contact .ubication {
    list-style-image: url(/assets/images/others/map-pin-solid.svg);
}

.contact .phone{
    list-style-image: url(/assets/images/others/phone-solid.svg);
}
.contact .mail {
    list-style-image: url(/assets/images/others/envelope-solid.svg);
}

.mapa iframe {
    border-radius: 15px 15px 15px 15px;
    border-color: transparent;
    box-shadow: #000000 10px 12px 15px;
}

/* HORARI */
.timetable{
    align-items: center;
    padding: 150px 0 120px 0;
    display: flex;
    justify-content: center;
}

.timetable img {
    width: 600px;
    height: 500px;
    display: block;
    border: #000000 solid;
    border-radius: 15px;
}

/* TALLERS */

.taller {
    padding:40px 20px 50px 20px;
    display: flex;
    margin: 10px;
    width: 100%;
    transition: all 1s;
}

.taller:hover {
    transform: scale(1.01);
    background-color: #f5fff6;
    border-radius: 15px 15px 15px;
    box-shadow: 15px 15px 15px #a3bfa5;
}

.first_taller {
    padding: 40px 20px 50px 20px;
}

.last_taller {
    padding: 40px 20px 200px 20px;
}

.report {
    margin-left: 0 auto;
    height: 130px;
    list-style-position: inside;
    font-size: 17px;
}

.report h4 {
    font-size: 25px;
    margin-top: 15px;
}

.ticket img {
    width: 250px;
    height: 200px;
    border-radius: 15px 15px 15px 15px;
    border-color: transparent;
    box-shadow: #000000 10px 12px 15px;

}


/* FORMULARI PER TRIAR ELS TALLERS */

.page_text {
    padding: 100px 0 120px 0;
    font-size: 30px;
    display: flex;
    justify-content: center;
    color: #5a83b4;
}

.page_text a{
    color: #8eb3e1;
}

.page_text a:hover{
    color: #859ebc;
    transition: 1s;
}


/* FOOTER */
.container-footer {
    width: 100px;
    height: 250px;
    padding: 40px 0;
    margin-top: 20px;
    bottom: 0;
    width: 100%;
    border-top: solid #000000;
    background: linear-gradient(#a6bfa3, #79987c);
}

.container-footer footer {
    max-width: 1200px;
    margin: auto;
}

.container-footer footer .redes-footer {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.container-footer footer .redes-footer .icon-redes-footer {
    font-size: 20px;
    margin: 5px;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    place-items: center;
    border-radius: 100%;
}

a {
    text-decoration: none;
    color: black;
}

.github-icon:hover {
    background-color: #969494;
    transition: all 0.75s;
}

.mail-icon:hover {
    background-color: #eb4a28;
    transition: all 0.75s;
}

.web-icon:hover {
    background-color: #4d93e9;
    transition: all 0.75s;
}

.container-footer footer hr {
    margin-top: 20px;
    border: none;
    height: 2px;
}

.container-footer footer h4 {
    text-align: center;
    margin-top: 40px;
    color: black;
    font-weight: bold;
}
