
/* Ajustaments generals */
* {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background: #94BF97;
    width: 100%;
    position: fixed;
    z-index: 100;
    font-family: Arial, Helvetica, sans-serif;
}

.item {
    float: left;
}

#item_1 {
    float: left;
}

#item_2 {
    float: right;
}

/* Header*/
nav ul {
    list-style: none;
    overflow: hidden;
}

nav ul li {
    float: left;
    font-size: 20px;
}

nav ul li a {
    display: block;
    padding: 20px;
    color: #F5ECD0;
    text-decoration: none;
}

nav ul li:hover {
    background: #3B331A;
}


/* Logo i informació de la pàgina */
.logo {
    float: left;
    padding: 15px 0 0 20px;
    text-decoration: none;
    height: 60px;
}

.logo-header {
    float: left;
    padding: 15px 0 0 20px;
    text-decoration: none;
}

.site-name {
    font-weight: 700;
    font-size: 1.2em;
    color: #fff;
}

.site-desc {
    display: block;
    font-weight: 300;
    font-size: 0.8em;
    color: #fff;
}

/* INDEX */

.description {
    text-align: center;
    padding: 100px;
}

.description h1 {
    color: #E578B4;
}

.description p {
    font-size: 20px;
    text-align: justify;
}

/* CAIXETES */
.content {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 200px;
}

.content .course-container {
    text-align: center;
    justify-content: center;
    margin-bottom: auto;
    align-self: center;
    display: inline-block;
    padding: 0px;
    margin: 20px;
    padding-top: 70px;
    background: #94BF97;
    border-radius: 15px;
    height: 150px;
    width: 150px;
}


.page-name {
    text-align: center;
    color: #F5ECD0;
}

/* CARDS (INDEX_FAMILIES) */
.cards {
    padding-top: 100px;
    display: flex;
}

.card {
    flex: 50%;
    margin: 10px 10px 10px 10px;
    border: 3px solid black;
    border-radius: 15px;
    flex-direction: column;
    width: 300px;
    max-width: 1200px;
    transition: 300ms;
}

.card:hover {

}

.card__content {
    flex-grow: 1;
    flex-shrink: 1;
    justify-content: center;
    align-items: center;
}

.card__picture {
    width: 100%;
    display: block;
    border-radius: 10px 10px 0 0;
}

.card__title {
    justify-content: center;
    background-color: grey;
    border-radius: 0 0 10px 10px;
    padding: 10px;
    display: block;
    text-align: center;
    text-decoration: none;
    margin-top: 10px;
}

/* Footer */
.container-footer {
    width: 100px;
    padding: 40px 0;
    margin-top: 40px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.container-footer footer {
    max-width: 1200px;
    margin: auto;
}

.container-footer footer .redes-footer {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.container-footer footer .redes-footer .icon-redes-footer {
    font-size: 20px;
    margin: 5px;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    place-items: center;
    border-radius: 100%;
}

a {
    text-decoration: none;
    color: black;
}

.github-icon:hover {
    background-color: grey;
}

.discord-icon:hover {
    background-color: rgb(88, 101, 242);
}

.mail-icon:hover {
    background-color: rgb(235, 74, 40);
}

.twitter-icon:hover {
    background-color: grey;
}

.instagram-icon:hover {
    background: linear-gradient(#FCDE30, #E9712A, #D2313B, #AE4198, #754BA1, #5443AB);
}

.container-footer footer hr {
    margin-top: 20px;
    border: none;
    height: 2px;
}

.container-footer footer h4 {
    text-align: center;
    margin-top: 40px;
    color: black;
    font-weight: bold;
}
